<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047332283656-bhln37d3cu3h33mctndbkeb6hhu4pucb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047332283656-bhln37d3cu3h33mctndbkeb6hhu4pucb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1047332283656-dq8qsc4pghuin6uo9l32p460bls3ogf9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBH0tyacuknr9Z2VP4cV0cIzrv3hWfEsNc</string>
	<key>GCM_SENDER_ID</key>
	<string>1047332283656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-37c97</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-37c97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047332283656:ios:2c8de3e28b0bacc36038bd</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-37c97.firebaseio.com</string>
</dict>
</plist>